{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>

.administrer {
 transform: translateY(50px);
}
   
</style>

<div class="administrer" >
  <h2> ADMINISTRER </h2><br>
La compétence d'administration dans le domaine informatique est essentielle pour assurer <br>
le bon fonctionnement des systèmes informatiques. Les administrateurs système sont responsables <br>
de la configuration, de la maintenance et de la surveillance des réseaux informatiques, des serveurs <br>
et des bases de données;
</div>
{% endblock %}