{% extends 'base.html.twig' %}



{% block title %}Mes compétences{% endblock %}



{% block body %}

<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<style>



.administrer {

 transform: translateY(50px);

}



.img1 {

transform: translateX(700px);

  position: absolute;
  weight: 500px;
width: 700px;

}



.texte1 {

   color: red;

    transform: translateX(375px);

    font-family: 'Roboto', sans-serif;

  }



.texte1:hover {

  color:white;

  font-weight: bold;

}


.connecter {
transform: translateY(600px);
}

.competence1 {
 transform: translateY(150px);
}

.competence2 {
transform: translateY(700px);
}

.continuer1 {
transform: translateY(200px);
background-color: rgb(192, 19, 19);
  color: white;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 25px;
  border-radius: 50px;
}

.continuer2 {
transform: translate(-675px, 700px);
color: rgb(187, 14, 14);
  background-color: white;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
 border-radius: 50px;
}

.retour1 {
transform: translate(-675px, 700px);
 background-color: rgb(192, 19, 19);
  color: white;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 25px;
 border-radius: 50px;
}

.programmer {
 transform: translateY(1000px);
}

.competence3 {
transform: translateY(1050px);
}

.img2 {
transform: translate(600px, 600px);
width: 700px;
}

.retour2 {
transform: translateY(1150px);
color: rgb(187, 14, 14);
  background-color: white;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
 border-radius: 50px;
}
}

.essai {
transform: translateY(2000px);
}

.img3 {
  position: absolute;
  transform: translate(600px, 850px);
width: 450px;

}

.continuer3 {
  transform: translateY(1150px);
 background-color: rgb(192, 19, 19);
  color: white;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 05px;
 border-radius: 50px;

}



</style>



<div class="administrer" >
<div id="1"></div>
  <h3> ADMINISTRER </h3><br>

<h5>La compétence d'administration dans le domaine informatique est essentielle pour assurer <br>

le bon fonctionnement des systèmes informatiques. Les administrateurs système sont responsables <br>

de la configuration, de la maintenance et de la surveillance des réseaux informatiques, des serveurs <br>

et des bases de données.</h5>

</div>
<div class="competence1">
<ul> <h5>
 <li>Maîtrise des logiciels clients (Putty, Cisco Packet Tracer...) <br></li>
<li>Configuration de matériels (switchs, pc...) <br></li>
<li>Environnement de développement <br></li>
<li>Installation d'un poste client<br></li>
</h5>
</ul>

</div>





<img class="img1" src="/administrer.jpg" >


<button class="continuer1">
<a href="#2"> <h5>Continuer</h5></a>
</button>


<div class="connecter" >
<div id="2"></div>
  <h3> CONNECTER </h3><br>

<h5> Dans le domaine professionnel, connecter les appareils peut signifier intégrer des systèmes <br>
informatiques, des dispositifs IoT, des équipements de production ou d'autres infrastructures <br>
technologiques. Cela nécessite une compréhension approfondie des protocoles de communication, des <br>
normes industrielles et des technologies émergentes.</h5>
</div>

<div class="competence2">
<ul> <h5>
 <li>Soudure des câbles <br></li>
<li>Connexion en réel et en simulation <br> des équipements</li>
<li> Dépannage et résolution de problèmes<br></li>
<li>Veille technologique et adaptabilité<br></li>
</h5>
</ul>
</div>

<img class="img2" src="/connecter.jpg" >

<button class="continuer2">
<a href="#3"> <h5>Continuer</h5></a>
</button>

<button class="retour1">
<a href="#1"> <h5>Retour</h5></a>
</button>


<div class="programmer" >
<div id="3"></div>
  <h3> PROGRAMMER </h3><br>

<h5> Les développeurs, ingénieurs logiciels et experts en informatiques sont <br>
constamment engagés dans la conception, le développement et l'amélioration d'outils <br>
et d'applications visant à résoudre des problèmes, à simplifier des tâches complexes et <br>
à répondre aux besoins de la société.</h5>
</div>

<div class="competence3" >
<ul> <h5>
 <li>Maîtrise des langages de programmation <br>(C, python, HTML, CSS...)</li>
<li>Connaissance de la sécurité informatique</li>
<li>Collaboration et communication <br></li>
<li>Automatisation de tâches répétitives à l'aide de scripts<br></li>
</h5>
</ul>
</div>

<button class="continuer3">
<a href="http://127.0.0.1:8000/elsa/cv"> <h5>Voir Mon CV</h5></a>
</button>


<button class="retour2">
<a href="#2"> <h5>Retour</h5></a>
</button>

<img class="img3" src="/programmer.jpg" >




{% endblock %}