{% extends 'base.html.twig' %}

{% block title %}Hello ElsaController!{% endblock %}

{% block body %}
<style>
    <style>
.NomPrenom {
    text-align:center;
}
</style>

<div class="NomPrenom">
    <p> Elsa Amoussou</p>
  </div>
{% endblock %}
