{% extends 'base.html.twig' %}



{% block title %}Page d'accueil{% endblock %}



{% block body %}



<style>

.Loisir {

  transform: translate(350px, 150px);

 }



 .basket {

  transform: translate(350px, 150px);

  width:300px;

  height:300px;

  border-radius: 50%;

 }



 .volley {

  transform: translate(350px, 150px);

  border-radius: 50%;

  width:300px;

  height:300px;

 }



 .echecs {

  transform: translate(350px, 150px);

  border-radius: 50%;

  width:300px;

  height:300px;

  

 }



 .pingpong {

  transform: translate(350px, 150px);

  width:300px;

  height:300px;

  border-radius: 50%;

 }



 </style>



<div class="Loisir">

   <h2>POUR EN SAVOIR PLUS</h2>

     <h4>Immersed in both team sports and strategic games, my hobbies revolve <br>

     around shared action and thoughtful challenges. From playing fields to game boards, I find joy <br>

     in colective dynamics and well-thought-out strategies.  </h4>

     </div>





<img class="basket" src="https://i.pinimg.com/564x/32/0a/60/320a60bdaa449719bdd15f042f40c7e5.jpg" alt="Basket-ball">

<img class="volley" src="https://i.pinimg.com/564x/0b/58/44/0b5844c1edd68ab0367cc4c552a318a7.jpg">

<img class="echecs" src="https://i.pinimg.com/564x/d7/d0/31/d7d0318acf8d7febe3948d7764442bc9.jpg">

<img class="pingpong" src="https://i.pinimg.com/564x/ee/bd/79/eebd79def5faed3fed4f1a7f97558917.jpg">

<div id="loisir">

</div> 

{% endblock %}